.detail-container
  margin-bottom: 70px
  .detail-right-section
    padding: 40px 10px 10px 100px

    h1
      font-size: 68px
      font-weight: bold 

    a
      text-transform: uppercase
      font-weight: 700
      color: #425df7
      font-size: 13px
      cursor: pointer
  
  @media ( max-width: 1200px)
    .detail-right-section
      padding: 10px 30px 10px 30px
      h1
        font-size: 68px
  @media ( max-width: 900px)
    .detail-right-section
      padding: 10px 30px 10px 30px
      // h1
      //   font-size: 40px
  @media ( max-width: 700px)
    .detail-right-section
      padding: 10px 30px 10px 30px
      // h1
      //   font-size: 40px
  @media ( max-width: 400px)
    .detail-right-section
      padding: 10px
      // h1
      //   font-size: 38px